@font-face {
  font-family: 'Clarendon';
  src:url('./Assets/Fonts/superclarendon_regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
////////////////////////////////////////
//      Font-Family Definitions       //
////////////////////////////////////////

$helvetica= 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$clarendon= 'Clarendon', $helvetica;
///////////////////////////////
//      Font Variables       //
///////////////////////////////
$display-font= $clarendon;
$display-font--bold= $clarendon;
$body-font= $clarendon;

////////////////////////////
//      Font Mixins       //
////////////////////////////
displayFontBold() {
  font-family: $display-font--bold;
  font-weight: 500;
  color: $display-color;
}

displayFont() {
  font-family: $display-font;
  font-weight: 400;
  color: $display-color;
}

bodyFont() {
  font-family: $body-font;
  font-weight: 400;
  color: $body-color;
}
