.app__container {

}

.page-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: calc(100vh - 100px);
  box-sizing: content-box;
  background: $white;

  .page__content {
    max-width: 1260px;
    margin: auto;
  }
}

.content-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 20px 50px;
  min-height: 100vh;
}
