html {
  font-size: $rem-base;
}

html,
body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.p {
  font-family: $body-font;
  font-size: 20px;
  color: $white;
  line-height: 1.75;
  margin-bottom: 18px;
  width: 100%;
  max-width: 700px;

  &.p--bold {
    font-weight: 700;
  }

  &.p--dark {
    color: $gray--900;
  }

  &.p--success {
    color: $status--success;
  }

  &.p--error {
    color: $status--error;
  }

  &.p--small {
    font-size: 16px;
  }

  &.p--align-left {
    text-align: left;
  }

  &.p--align-right {
    text-align: right;
  }

}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.indent {
  margin-left: 8px;
}

a {
  color: $primary;

  &:focus {
    outline: 1px solid rgba($black, .5);
  }

}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  margin-left: -1px;
}