html {
  font-size: $rem-base;
}

html,
body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.p {
  font-family: Helvetica;
  font-size: 20px;
  color: $white;
  line-height: 1.75;
  margin-bottom: 18px;
  max-width: 700px;

  &.p--dark {
    color: $gray--900;
  }
}