.form {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  +screen($media-small $media-medium) {
    min-width: 100%;
  }
}

.form__column {
  flex: 1 1 100%;

  .button {
    width: 100%;
    max-width: 320px;
    margin: auto;
    display: block;
  }

  +screen($media-small $media-medium) {
    &:not(:last-of-type) {
      flex: 1 1 50%;
    }

    &:first-of-type {
      padding-right: 20px;
    }

  }

}

.label {
  font-size: 20px;
  font-family: $display-font;
  display: block;
  padding: 0 0 12px 12px;
}

.input {
  display: block;
  padding: 0 10px;
  height: 50px;
  margin-bottom: 50px;
  font-size: 18px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $black;
  border-left: none;
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid $black;
  }
}

.textarea {
  font-size: 18px;
  padding: 10px;
  width: 100%;
  margin-bottom: 25px;
  resize: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid $black;

  &:focus {
    outline: none;
    border: 1px solid $black;
  }
}
