.hero {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  .hero__image-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    filter: grayscale(60%);
    overflow: hidden;
  }

  .hero__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100vh;
  }

  &.hero--short {
    height: 60vh;

    .hero__image {
      min-height: 60vh;
    }
  }

  .hero__title {
    position: absolute;
    top: calc(100% - 219px);
    left: 0;
    padding-left: 20px;
    font-family: $display-font;
    font-size: 7vw;
    color: #FAA900;
    text-shadow: 0 0 32px rgba($black, 1);
    font-weight: 800;
  }

  .hero__content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 45%;
    height: inherit;
    background: rgba($black, .4);
    padding: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

}
