.image-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;

  .img-wrapper {
    flex: 1 1 50%;
    width: 50%;
    
    .img {
      padding: 10px;  
      width: 100%;
      
    }
    
    &:nth-of-type(odd) {
      .img {
        padding-left: 0;
      }
    }

    &:nth-of-type(even) {
      .img {
        padding-right: 0;
      }
    }
  }
}
