nav {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 1;
  padding: 40px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    display: inline;   
    margin: 0 rem(20);
  }

  a {
    color: $black;
    font-family: Helvetica;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;

    &.current {
      text-decoration: underline;
    }
  }
}