nav {
  height: 50px;
  background: $white;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    overflow-x: scroll;
  }

  .nav__item {
    display: inline;
    margin-left: 0;

    &.nav__item__logo {
      margin-left: 0;

      a {
        padding: 0;
        transition: transform 200ms ease;
        background: $white;

        &.current {
          outline: none;
        }

        &:hover {
          transform: scale(1.1);
          outline: none;
        }
      }
    }
  }

  a {
    display: block;
    height: 50px;
    padding: 19px 8px;
    overflow: hidden;
    font-family: $display-font;
    font-size: 14px;
    color: $black;
    text-decoration: none;
    transition: background 100ms ease-out,
                color 100ms ease-out;

    &:hover {
      outline: 1px solid rgba($black, .5);
    }



    &.current {
      background: $black;
      color: $white;
    }
  }

  .nav__image {
    width : 50px;
    height: 50px;
    padding: 0;
  }
}

+min-screen($media-small) {
  nav {
    a {
      padding: 19px 12px;
    }

    .nav__item {
      margin-left: 20px;
    }
  }
}

+min-screen($media-medium) {
  nav {
    height: 80px;
    ul,
    a {
      height: 80px;
    }

    .nav__item {
      margin-left: 25px;
    }

    a {
      font-size: 20px;
      padding: 30px 25px;
      height: 80px;
      user-select: none;
    }

    .nav__image {
      height: 80px;
      width: 80px;
    }

  }

}
