nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 40px;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  li {
    display: inline;   
    
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  a {
    color: $white;
    font-family: Helvetica;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;

    &.current {
      text-decoration: underline;
    }
  }
}