.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;

  .product__img-wrapper {
    flex: 1 1 auto;

    &:not(:last-of-type) {
      margin-bottom: 100px;
    }

    .products__img {
      max-width: 280px;
      height: auto;
      display: block;
      margin: auto;
    }

    +min-screen($media-medium) {
      max-width: 300px;
    }
  }
}
