.service__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.service__item {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;

  span {
    flex: 1 0 100%;
    font-size: 20px;
    font-family: $clarendon;

    &:last-of-type {
      padding-top: 5px;
      text-align: left;
      font-size: 18px;
      color: $secondary;
    }
  }

  +min-screen($media-medium) {
    flex: 1 0 50%;
  }
}
