.service__list {
  width: 100%;
}

.service__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;

  span {
    flex: 1 0 100%;
    font-size: 20px;
    font-family: $clarendon;

    &:last-of-type {
      padding-top: 5px;
      text-align: left;
      color: $secondary;
    }
  }
}
