.stylist-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.stylist-wrapper {
  flex: 1 1 50%;
  max-width: 50%;

  .stylist {
    position: relative;
    display: block;
    margin: 10px;
    
    .stylist__img {
      width: 100%;
      filter: grayscale(60%);
      
      &:hover {
        filter: grayscale(0);
      }

    }

    .stylist__name {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background-image: linear-gradient(to top, rgba($black, 1), rgba($black, 0));
      color: $white;
      font-family: Helvetica;
      font-size: 20px;
    }

    .stylist__position {
      position: absolute;
      padding: 20px;
      color: $white;
      font-family: Helvetica;
      font-size: 20px;
    }

  }

  &:nth-of-type(odd) .stylist {
    margin-left: 0;
  }

  &:nth-of-type(even) .stylist {
    margin-right: 0;
  }

}