$imageWidth= 280px;

.profile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  +min-screen($media-medium) {
    flex-wrap: wrap;
  }
}

.profile__column {
  flex: 1 1 100%;

  &:nth-of-type(1) {
    flex: 1 0 100%;
  }

  &:nth-of-type(3) {
    padding-top: 50px;
  }

  +min-screen($media-medium) {
    &:nth-of-type(2) {
      flex: 0 1 $imageWidth;
      padding-right: 50px;
    }

    &:nth-of-type(3) {
      flex: 0 1 "calc(100% - %s - 50px)" % $imageWidth;
      padding-top: 0;
    }
  }

}

.profile__name,
.profile__position {
  align-self: flex-start;
  font-family: $display-font;
  font-size: 26px;
  color: $black;
  padding: 10px 0;
}

.profile__position {
  color: $secondary;
  font-size: 18px;
  padding-bottom: 20px;
}

.profile__instagram {
  display: inline-block;
}

.profile__link {
  white-space: nowrap;
}

.profile__image {
  width: $imageWidth;
}

.stylist__data {
  width: $imageWidth;
  margin: auto;
}

+max-screen($media-medium) {
  .profile__image {
    display: block;
    margin: auto;
  }

  .profile__name,
  .profile__position,
  .profile__instagram {
    display: block;
    margin: auto;
    width: $imageWidth;
  }
}

.profile__button {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  height: 50px;

  &.profile__button--fixed {
    .nav-link__button {
      position: fixed;
      top: 50px;
      left: 20px;

      +min-screen($media-medium) {
        top: 100px;
      }
    }
  }
}
