.stylist-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.stylist-wrapper {
  flex: 1 1 100%;
  max-width: 100%;
  margin-bottom: 60px;

  +min-screen($media-medium) {
    flex: 1 1 50%;
    max-width: 50%;
  }

  .stylist {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-decoration: none;

    .stylist__img {
      flex: 1 1 100%;
      width: 100%;
      filter: grayscale(60%);
      transition: filter 300ms ease;
    }

    .stylist__info {
      flex: 1 1 100%;
      width: 100%;
      padding: 20px 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .stylist__info--name,
      .stylist__info--position {
        color: $black;
        font-family: $display-font;
        font-size: 26px;
      }

      .stylist__info--position {
        text-align: right;
        color: $secondary;
        font-size: 18px;
      }

    }

  }

  &:nth-of-type(odd) .stylist {
    margin-left: 0;
  }

  &:nth-of-type(even) .stylist {
    margin-right: 0;
  }

  &:hover {

    .stylist__img {
      filter: grayscale(20%);
    }
    .stylist__img__info {
      border: 1px solid $black;
    }
  }


}
